{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "filepath": "src/**/*.{js,jsx,ts,tsx}",
  "trailingComma": "all",
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
