@import 'react-toastify/dist/ReactToastify.css';

.Toastify__toast-body {
  font-family: 'Neue Montreal';
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-Thin.otf')
    format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-Book.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-Italic.otf')
    format('opentype');
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-Medium.otf')
    format('opentype');
  font-weight: 530;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-SemiBolditalic.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./src/assets/fonts/NeueMontreal/PPNeueMontreal-Bold.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}
